* {
    box-sizing: border-box;
}

body {
    font-size: 1.125rem;
    font-family: 'Ubuntu', sans-serif;
    background-color: black;
    color: white;
    --angle: rotate(130deg);
    --openCloseMouth: none;
    
}

.container {
    max-width: 500px;
    padding: 2em 1.5em;
    margin: 0 auto;
}

.grid {
    width: 420px;
    height: 420px;
    display: flex;
    flex-wrap: wrap;
} 

.grid div {
    width: 15px;
    height: 15px;
}

.game-over {
    font-weight: 700;
}

.power-pellet {
    background: rgb(43, 226, 43);
    border-radius: 7px;
}

.wall {
    background: blue;
}

.pac-dot {
    background: blueviolet;
    border: 5px solid rgba(0, 0, 0, 0.842);
}

.pac-man {
    background: rgb(255, 0, 0);
    border-radius: 7.5px;
    border: none;
    opacity: 1;
    background-image:
        linear-gradient(180deg, transparent 50%, rgb(255, 0, 0) 50%),
        linear-gradient(90deg, black 50%, transparent 50%);
    transform: var(--angle);
    animation: var(--openCloseMouth) 0.25s ease;
}

.blinky {
    background-color: red;
    border: none;
}

.pinky {
    background-color: pink;
    border: none;
}

.inky {
    background-color: aqua;
    border: none;
}

.clyde {
    background-color: orange;
    border: none;
}

.scared-ghost {
    background-color: aquamarine;
    border: none;
}

@keyframes openCloseMouth {
    0% {
        background-image:
        linear-gradient(180deg, transparent 50%, rgb(255, 0, 0) 50%),
        linear-gradient(90deg, white 50%, transparent 50%);
    }
    100% {
        background-image: none;
    }
}

@keyframes fade {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.game-over {
    display: none;
    position: absolute;
    z-index: 22;
    background-color: black;
    color: white;
    font-size: 2rem;
    padding: 1rem;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}